
/*fondo*/
.header{
	position:relative;
	top: -64px;
	overflow:hidden;
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	height:100vh;
	min-width:300px;
	color:whitesmoke;
	p {
		padding: 10%;
	}
}
.header:after{
	content:"";
	width:100%;
	height:40%;
	position:absolute;
	bottom:0;
	left:0;
	z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.header:before{
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
		-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
		transform: translateZ(0);
	background:#1B2030 url(../../dist/img/back-header.jpg) bottom no-repeat;
	background-size:cover;
	background-attachment:fixed;
	animation: grow 60s linear 10ms infinite;
	transition:all 0.2s ease-in-out;
	z-index:-2
}
@keyframes grow{
	0% { transform:scale(1)}
	50% { transform:scale(1.2)}
}


/*letras header*/
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.H1 {
	font: bold 350% Consolas, Monaco, monospace;
	border-right: .1em solid white;
	margin: 20px 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(21, end),
						 blink-caret .5s step-end infinite alternate;
	@media (min-width: 1px) and (max-width: 600px){
		#tech {
			width: 4.5em;
		}
		#science {
			width: 6em;
		}
		#code {
			width: 4.5em;
		}
	}
	@media (min-width: 601px) and (max-width: 991px){
		#tech {
			width: 4.5em;
		}
		#science {
			width: 6em;
		}
		#code {
			width: 4.5em;
		}
	}
	@media (min-width: 992px) and (max-width: 1400px){
		width: 14em;
	}
}



/*my styles*/
.title {
	font-family: $font-titles;
}