
nav {
	background: transparent;
	ul {
		padding-right: 5% !important;
		li a {
			font-family: $font-texts;
			font-size: 140%;
			font-weight: bold;
		}
	}
	.brand-logo {
		padding-left: 5% !important;
		font-family: $font-titles;
		font-weight: bold;
	}
}

.nav-scroll {
	transition: 0.9s;
	background: whitesmoke;
	a {
		color: $letras-color-one;
	}
}

.about {
	.section-about {
		width: 90%;
		padding: 5%;
		background: whitesmoke;
		h1, h5 {
			color: $letras-color-two;
		}
		.cont-about {
			padding: 3% 3%;
			h5 {
				margin: 6% 0 3% 0;
			}
		}
		p {
			color: $letras-color-one;
			font-family: $font-texts;
			font-size: 120%;
		}
		img {
			margin-right: 5%;
			border-radius: 50%;
			@media (min-width: 601px) and (max-width: 991px){
				width: 60%;
			}
		}
	}
}

.tools {
	padding: 7% 0;
	h1 {
		color: $letras-color-one;
		margin-bottom: 10%;
	}
	.row {
		margin: 7% 0;
	}
	.cont-icons {
		padding-bottom: 4vh;
	}
	.devicon {
		font-size: 600%;
		color: $letras-color-two;
	}
	.logo-front-end {
		width: 80%;
	}
	.logo-gestion {
		@media (min-width: 1px) and (max-width: 600px){
			
		}
		@media (min-width: 601px) and (max-width: 991px){
			
		}
		@media (min-width: 992px) and (max-width: 1400px){
			height: 17vh;
		}
	}
	.trello {
		@media (min-width: 992px) and (max-width: 1400px){
			height: 10vh;
			position: relative;
			top: 5vh;
		}
	}
	.cont-icons.fl {
		position: relative;
		left: -8vw;
		width: 65%;
	}
	.frame-lib {
		@media (min-width: 1px) and (max-width: 600px){
			
		}
		@media (min-width: 601px) and (max-width: 991px){
			
		}
		@media (min-width: 992px) and (max-width: 1400px){
			height: 12vh;
		}
	}
	.cont-icons.doc {
		width: 26%;
	}
	.doc {
		@media (min-width: 1px) and (max-width: 600px){
			
		}
		@media (min-width: 601px) and (max-width: 991px){
			
		}
		@media (min-width: 992px) and (max-width: 1400px){
			height: 12vh;
		}
	}
}

.portfolio {
	.section-portfolio {
		width: 90%;
		padding: 5%;
		margin-bottom: 4%;
		background: whitesmoke;
		h1 {
			color: $letras-color-one;
		}
	}
	#trello {
		@include pictFondo(url(../../dist/img/trello.png));
	}
	#panda-panda {
		@include pictFondo(url(../../dist/img/panda-panda.jpg));
	}
	#insta-collage {
		@include pictFondo(url(../../dist/img/insta-collage.jpg));
	}
	#lyft-flexbox {
		@include pictFondo(url(../../dist/img/lyft-flexbox.png));
	}
	#save-the-koala {
		@include pictFondo(url(../../dist/img/save-the-koala-2.jpg));
	}
	#pinterest {
		@include pictFondo(url(../../dist/img/pinterest.png));
	}
	#labcar {
		@include pictFondo(url(../../dist/img/labcar.jpg));
	}
	#translab {
		@include pictFondo(url(../../dist/img/translab.jpg));
	}
	#portfolio-sass {
		@include pictFondo(url(../../dist/img/portfolio-sass.jpg));
	}
	#photolab {
		@include pictFondo(url(../../dist/img/photolab.jpg));
	}
	.medium {
		padding: 1%;
	}
	.small {
		padding: 2%;
	}
	.m {
		height: 50vh;
		border-radius: 10px;
	}
	.s {
		height: 22vh;
		border-radius: 9px;
	}
	.proyect {
		cursor: pointer;
		position: relative;
	}
	.text {
		display: none;
		span {
			font-size: 13px;
			font-weight: bold;
			background: $letras-color-two;
			border-radius: 10px;
			padding: 6px 13px;
		}
		.description {
			font-size: 12px;
			font-weight: bold;
			color: whitesmoke;
		}
		.description:hover {
			background: $letras-color-one;
			padding: 5px 10px;
			border-radius: 10px;
			transition: .5s;
		}
		ul li {
			display: inline-block;
			a {
				font-size: 14px;
				padding: 0 4px;
				font-weight: bold;
				color: whitesmoke;
			}
			a:hover {
				color: $letras-color-two;
			transition: .4s;
			}
		}
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		transition: .5s ease;
		background-color: transparent;
		border-radius: 10px;
	}
	.proyect:hover .overlay {
		background-color: rgba(80, 24, 81,.7);
	}
	.proyect:hover .overlay .text {
		height: 100%;
		width: 95%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 10px;
		position: absolute;
		top: 0;
		left: 2%;
	}
}

.contenedor-modal {
	img {
		border-radius: 15px;
	}
	h4 {
		font-family: $font-titles;
	}
	p {
		font-family: $font-texts;
		font-size: 110%;
	}
	.btn {
		background: $letras-color-two;
		border: 1px solid $letras-color-two;
	}
}

.contact {
	@include pictFondo(url(../../dist/img/back-header.jpg));
	background-attachment:fixed;
	height: 100vh;
	.cont-info {
		background: rgba(0,0,0,.7);
		height: 100vh;
		color: white;
		p {
			font-family: $font-texts;
			font-size: 130%;
		}
		.section-contact {
			padding: 64px 0;
			a {
				color: white;
			}
			a:hover {
				color: $letras-color-two;
			}
			.social {
				font-size: 600%;
			}
			.cont-mail {
				background: whitesmoke;
				color: black;
				font-family: $font-titles;
				font-weight: bold;
				font-size: 130%;
				padding: 2% 4%;
				margin-top: 3%;
				border-radius: 5px;
			}
		}
	}
}

footer {
	background: whitesmoke !important;
	h5 {
		color: $letras-color-one !important;
	}
	p, span {
		color: grey !important;
	}
	a {
		color: $letras-color-one !important;
	}
	a:hover {
		color: $letras-color-two !important;
	}
	.lab {
		float: right;
	}
}