

$letras-color-one: rgb(80, 24, 81);
$letras-color-two: rgb(193, 0, 62);
$color-three: rgb(230, 83, 0);
$color-skills: rgb(98, 29, 99);
$font-titles: 'Source Code Pro', monospace;
$font-texts: 'Josefin Slab', serif;